<app-navbar></app-navbar>

<ng-container *ngIf="true">
<div class="container">
    
    <div class="card-table">
        <div class="card-product">
            <table class="table table-responsive">
                <thead>
                    <tr>
                        <th>No. </th>
                        <th>Product Name </th>
                        <th>Product Image </th>
                        <th>Description </th>
                        <th>Price </th>
                        <th>Quality </th>
                        <th>Total </th>
                        <th>Action </th>
                    </tr>
                </thead>
                <tbody>
                      <td>1</td>
                      <td>Arsenal kit</td>
                      <td>Away kit</td>
                      <td>Away kit</td>
                      <td>R1200</td>
                      <td>1</td>
                      <td>1200</td>
                      <td>
                        <button class="btn btn-danger"><i class="fa fa-trash" aria-hidden="true"></i></button>
                      </td>
                </tbody>
            </table>
        </div>
    </div>
</div>

</ng-container>


<ng-container *ngIf="false">

    <div class="container">
        <div class="card">
            <h5 class="card-title">My cart</h5>
        
        
        </div>
        
        <div class="center">
            <img src="assets\images\shopping-cart-with-cross-mark-wireless-paymant-icon-shopping-bag-failure-paymant-sign-online-shopping-vector_662353-912.avif" alt="">
        
            <h4>Your cart is empty!</h4>
            <h6>Add to cart now</h6>
            <button class="btn btn-primary" routerLink="/dashboard">Shop now</button>
        </div>
        
        </div>
</ng-container>

