<app-navbar></app-navbar>
<h1>SPORTSWARE STREET</h1>

  <div class="container">
      <div class="col-md-6">
        <div class="form">
       
          <input type="text" class="form-control form-input" [(ngModel)]="searchTerm" (input)="applyFilter()" placeholder="Search a kit here...">
          
        </div>
      </div>
    </div>


  <div class="flex-container">

    <div class="card" style="width: 18rem;" *ngFor="let kit of footballKits">
      <h2>{{kit.name}}</h2>
      <h3> {{kit.description}}</h3>
      <img class="image" [src]="kit.picture" (click)="handleClick()">
      <div class="card-body">
        <h4>{{kit.price}}</h4>
      </div>
      <button class="btn btn-primary" (click)="addToCart(kit)">Add to cart</button>
    </div>
  </div>

