
.login-form {
    /* text-align: center; */
    margin-top: 4%;
    padding: 60px;
   
  }
  .card {
    padding: 20px;
    border: 1px solid #125266;
    background-color: #50717b;
    color: #fff;
  }
  h1{
    text-align: center;
    color: #50717b;
    padding-top: 20px;
  }