h1{
    text-align: center;
    margin-top: 10%;
    color: #364968;
}
p{
    text-align: center;
    margin-top: 5%;
    color: #364968;
}
.btn{
   background-color: #364968;
   margin-left: 46%;
   margin-top: 1%;
   color: aliceblue;
   margin-bottom: 1%;
}

  
.container{
    display: flex;
    padding: 5%;
    gap: 5%;
 
}
.card-text{
    color: #364968;
}
.card{
    margin-left: 4%;
}
