<app-navbar></app-navbar>
<div class="card" style="width: 78rem;">

     <div class="content" style="width: 18rem; ">
        <div class="card-body">
            <h5 class="card-title">Choose your size</h5>
            <select id="size">
                <option class="size">Small</option>
                <option class="size">Large</option>
                <option class="size">Xsmall</option>
                <option class="size">Xlarge</option>
               <option class="size">Medium</option>
              </select>
                

        </div>
        <button class="btn">Add to cart</button>
      </div>
     


      
    
  </div>

  